* {
  font-family: 'Quicksand', sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tabla-admin {
  padding-right: 100px;
  padding-left: 100px;
}

.nav-itm {
  text-decoration: none;
}

.nav-per {
  background-color: #008080;
}

.btn-pers {
  margin: 0 10px 0 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #167D7F;
  border: none;
  color: white;
  border-width: 1px;
  transition: background-color 0.2s ease-out 10ms
}

.btn-pers:hover {
  background-color: #29A0B1;
  color: white;
}

.btn-lg{
  padding:  5px 15px 5px 15px;
  border-radius: 5px;
}

.contenedor {
  margin: 15px 35px;
}

.div-form {
  margin: 10px 0 10px 0;
}

.nav-bar-per {
  background-color: #008080;
}

.btn-perfil{
  margin: 0 10px 0 10px;
  padding: 0;
  border-radius: 50%;
  border-color: #008080;
  background: none;
}

.img-perfil{
  width: 30px;
  border-radius: 50%;
}

.titulo{
  font-weight: bold;
}